## Assignment_12_(Naive Bayes)

## Que 1) Prepare a classification model using Naive Bayes for salary data Data

In [ ]:
import pandas as pd
import numpy as np

## Importing Data

In [ ]:
salary_train=pd.read_csv('/content/SalaryData_Train.csv')
salary_train

       age          workclass  ...          native  Salary
0       39          State-gov  ...   United-States   <=50K
1       50   Self-emp-not-inc  ...   United-States   <=50K
2       38            Private  ...   United-States   <=50K
3       53            Private  ...   United-States   <=50K
4       28            Private  ...            Cuba   <=50K
...    ...                ...  ...             ...     ...
30156   27            Private  ...   United-States   <=50K
30157   40            Private  ...   United-States    >50K
30158   58            Private  ...   United-States   <=50K
30159   22            Private  ...   United-States   <=50K
30160   52       Self-emp-inc  ...   United-States    >50K

[30161 rows x 14 columns]

In [ ]:
salary_test=pd.read_csv('/content/SalaryData_Test.csv')
salary_test

       age      workclass      education  ...  hoursperweek          native  Salary
0       25        Private           11th  ...            40   United-States   <=50K
1       38        Private        HS-grad  ...            50   United-States   <=50K
2       28      Local-gov     Assoc-acdm  ...            40   United-States    >50K
3       44        Private   Some-college  ...            40   United-States    >50K
4       34        Private           10th  ...            30   United-States   <=50K
...    ...            ...            ...  ...           ...             ...     ...
15055   33        Private      Bachelors  ...            40   United-States   <=50K
15056   39        Private      Bachelors  ...            36   United-States   <=50K
15057   38        Private      Bachelors  ...            50   United-States   <=50K
15058   44        Private      Bachelors  ...            40   United-States   <=50K
15059   35   Self-emp-inc      Bachelors  ...            60   United-States    >50K

[15060 rows x 14 columns]

## Data understanding

In [ ]:
salary_train.shape

(30161, 14)

In [ ]:
salary_train.dtypes

age               int64
workclass        object
education        object
educationno       int64
maritalstatus    object
occupation       object
relationship     object
race             object
sex              object
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native           object
Salary           object
dtype: object

In [ ]:
salary_train.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [ ]:
salary_train.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [ ]:
salary_test.shape

(15060, 14)

In [ ]:
salary_test.dtypes

age               int64
workclass        object
education        object
educationno       int64
maritalstatus    object
occupation       object
relationship     object
race             object
sex              object
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native           object
Salary           object
dtype: object

In [ ]:
salary_test.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [ ]:
salary_test.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

## Data Preparation

In [ ]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [ ]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
for i in string_columns:
    salary_train[i]=label_encoder.fit_transform(salary_train[i])
    salary_test[i]=label_encoder.fit_transform(salary_test[i])

In [ ]:
columns_names=list(salary_train.columns)
X_train=salary_train[columns_names[0:13]]
y_train=salary_train[columns_names[13]]
X_test=salary_test[columns_names[0:13]]
y_test=salary_test[columns_names[13]]

## Model Building

## Navive Bayes
### Gaussian Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
Gmodel=GaussianNB()

## Model Training

In [ ]:
train_pred_gau=Gmodel.fit(X_train,y_train)

In [ ]:
train_pred_gau=Gmodel.predict(X_train)
test_pred_gau=Gmodel.predict(X_test)

## Model Testing

In [ ]:
train_acc=np.mean(train_pred_gau==y_train)
train_acc

0.7953317197705646

In [ ]:
test_acc=np.mean(test_pred_gau==y_test)
test_acc

0.7946879150066402

## Model Building

## Multinomial Naive Bayes

In [ ]:
from sklearn.naive_bayes import MultinomialNB
Mmodel=MultinomialNB()

## Model Training

In [ ]:
train_pred_multi=Mmodel.fit(X_train,y_train)

In [ ]:
train_pred_multi=Mmodel.predict(X_train)
test_pred_multi=Mmodel.predict(X_test)

## Model Testing

In [ ]:
train_acc_multi=np.mean(train_pred_multi==y_train)
train_acc_multi

0.7729186698053778

In [ ]:
test_acc_multi=np.mean(test_pred_multi==y_test)
test_acc_multi

0.7749667994687915